
   h1{
    font:Arial;
    display:inline;
    padding:2px 5px;
  } 
  body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:#ad5e5e;
    padding: 125px;
  }
  #container{
    margin:50px auto;
    max-width:500px;
    padding:20px;
    background-color: #c17f7f;
    box-shadow: 0 0 60px rgb(248, 62, 62);
    border-radius:5px;

  }

  #color-display{
    width:200px;
    height:200px;
    margin:20px auto;
  border-radius:50%;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
button{
    padding:10px 20px;
    font-size:16px;
    background:#5a6d5a;
    color:rgb(246, 255, 163);
    border:none;
    border-radius: 4px;
    cursor:pointer;

}
button:hover
{
   background-color: cornflowerblue;
   

}
#color-code{
    margin-top:20px;
    font-weight:blod;
}